html, body {
  height: 100%;
}
.white-background{
   background-color:  #FFFFFF!important;
}
.margin-left-68{
  margin-left: 68px;
}
.margin-top-36{
  margin-top: 36px;
}
.margin-top-14{
  margin-top: 14px;
}

.manage-directory-btn{
  float: right;
  margin-right: 20px;
}
.add-shop-btn{
  margin-bottom: 10px!important;
  margin-top: 14px;
  float: right;
}
.upload-directory-btn{
  margin-bottom: 10px!important;
  margin-top: 14px;
  float: right;
  margin-right: 10px; 
}
#ajax_indicator {
    font-weight: bold;
    opacity: 0.5;
    text-align: center;
    position: fixed;
    margin: 50px auto 0;
    display: block;
    width: 99%;
    z-index: 2000;
    top:200px;
}
#ajax_indicator span {
    background-image: url(/images/loading.gif);
    background-position: 0 40%;
    background-repeat: no-repeat;
    padding-left: 26px;
    vertical-align: bottom;
}
.sticky-wrapper{
  width: 1286px; margin-left: auto; margin-right: auto; height: 51px;
}
#subNav-alphabet li a{
font-family: 'Verlag A', 'Verlag B'; 
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
    color: #444444;
    letter-spacing: .5px;
    margin-bottom: 0;
    text-transform: uppercase;
}

/* Sub Menu - ALPHABET LIST */
 #subNav-alphabet  {
    width:100%;
    background-color:#FFF;
    padding:0 8px;
    text-align: center;
}

 #subNav-alphabet.stick {
    position: fixed;
    top: 0;
    z-index: 10000;
    margin-top:85px;
}

#subNav-alphabet ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

#subNav-alphabet li {
  position: relative;
    padding: 0 10px;
    display:inline-block;
}

#subNav-alphabet li a:hover{
    color: #D36639;
    border-top: 3px solid #D36639;
    padding-top:5px;
}

#subNav-alphabet .current  {
  color: #D36639;
    border-top: 3px solid #D36639;
    padding-top:5px;    
}
/*END ALPHABET LIST*/


